{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    {% if messages %}
        {% for message in messages %}
            <div style="color: green; margin-bottom: 10px;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <div style="font-size: 12px; color: #888; margin-bottom: 8px;">
            Şifre en az 8 karakter olmalı, harf ve rakam içermelidir.
        </div>

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    <p>Admin Panel? <a href="/admin/">Admin Login</a></p>
</div>

{% endblock content %}